.container{
    display: flex;
   flex-direction: column; 
   align-items: center;
    justify-content: center;
    padding: 10px 15px;
}
.title{ 
  font-family: monospace;
  font-size: 63px;
  font-weight: 800;
}
