.container{
padding: 15px;
height: 100vh;
}
.title{
      font-size: 30px;
  font-weight: 600;
  font-family: monospace;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  display: flex;
}


.product_box{
    display: flex;
 position: relative;
  background-color: rgb(240, 247, 247);
list-style-type: none;
margin: 10px;
border-radius: 5px;
box-shadow: 1px 2px 5px 1px rgb(76, 75, 75);
padding: 10px;
}
.box{
padding: 0 10px;
  width: 50%; /* Каждому div задаётся 50% ширины */
  float: left; /* Используется для размещения в один ряд */
  box-sizing: border-box;
}

.name{
font-size: 20px;
  font-weight: 700;
  font-family: monospace;
  color: rgb(0, 0, 0);
}

.text{
      font-size: 18px;
  font-weight: 500;
  font-family: monospace;
  color: rgb(37, 34, 34);
}

.pagination{
display: flex;
padding: 10px;
margin: 5px;
}
.text_page{
    font-family: monospace;
  font-size: 18px;
    font-weight: 500;
    padding: 5px;
}
.btn{
   background-color: rgb(89, 115, 183);
    border: none;
    border-radius: 20px;
  color: white;
  font-family: monospace;
  font-size: 20px;
    font-weight: 600;
    padding: 5px;
    margin: 2px;
}
.btn:hover{
     background-color: rgb(175, 175, 178);
}